
:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color-scheme: light dark;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.impressum {
    text-align: justify;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.impressum h2 {
    font-size: medium;
}

.impressum h3 {
    font-size: medium;
}

.impressum-footer {
    margin-top: 3em;
    text-align: center;
}

.avatar {
    width: 20em;
    border-radius: 50%;
    max-width: 60%;
    display: block;
    margin: auto;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.link-container {
    display: flex;
    align-items: center;
    color: #555555;
}

.icon {
    font-size: 2em;
    width: 32px;
    text-align: center;
    margin: 5px 10px 5px 0;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #5f9ea0;
}

@media screen and (max-width: 576px) {
 .card {
    flex-direction: column;
 }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
    }

    a {
        color: #aaaaaa;
    }

    a:hover {
        color: #40a0a0;
    }

    .link-container {
        color: #aaaaaa;
    }
}