
:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color-scheme: light dark;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.impressum {
    text-align: justify;
}

.impressum h2 {
    font-size: medium;
}

.impressum h3 {
    font-size: medium;
}

.avatar {
    width: 20em;
    border-radius: 50%;
    max-width: 60%;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.link-container {
    display: flex;
    align-items: center;
    color: #555555;
}

.icon {
    font-size: 2em;
    width: 32px;
    margin: 5px 10px 5px 0;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
}

@media screen and (max-width: 576px) {
 .card {
    flex-direction: column;
 }
}
